.main {
  padding-bottom: 1em;
}

.about h3,
.stuff h3 {
  padding: 18px 0;
  color: #444;
}

.about p {
  margin-bottom: 2em;
  line-height: 200%;
}

img {
  width: 100%;
  border-radius: 10px;
}

.gallery-row {
  display: flex;
  justify-content: space-between;
}

.gallery-row div {
  flex-basis: 48%;
  border-radius: 10px;
  margin-bottom: 5px;
}

.main button {
  width: 100%;
  background-color: #0090c5;
  color: white;
  border: none;
  padding: 1em 10px;
  font-weight: 700;
  border-radius: 10px;
}

.main button:hover {
  background-color: rgba(0, 144, 197, 0.9);
  cursor: pointer;
}

@media (min-width: 980px) {
  .main .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .about h3,
  .stuff h3 {
    padding: 22px 0;
    font-size: 24px;
  }

  .stuff {
    flex-basis: 27%;
  }
  .about {
    flex-basis: 65%;
  }
  .about button {
    width: 30%;
  }

  .stuff button {
    width: 50%;
  }
}
