@use "../variables";

.gallery {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 1em;
  margin-bottom: 1em;
  &.active {
    background-color: yellow;
  }
  @include variables.lg {
    flex-basis: 31%;
  }

  img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .gallery-title {
    padding: 2.5em 1em 0.5em 1em;
    font-weight: 700;
  }
  .gallery-subtitle {
    padding: 0 1em 1em 1em;
  }
  p:nth-of-type(3) {
    padding: 0 1em 0.5em 1em;
  }
}
